<a href="https://colab.research.google.com/github/matheusmatiassilva2-crypto/tecnicas-de-programac-o/blob/main/Lista_e_Dicionarios_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numero = int(input("Digite um número inteiro: "))
print(f"Foi informado o valor: {numero}")

Nome: Matheus matias da silva

Turma: N2

Materia: tecnicas e densenvolvimento de algoritmos


![download.png]()

Lista de Exercicio 1

In [ ]:
print("Meu primeiro programa!!!")

In [ ]:
numero = int(input("Digite um número inteiro: "))
print(numero)

In [ ]:
 #1
 numero = int(input("Digite um número inteiro: "))
print(f"Foi informado o valor: {numero}")

In [ ]:
#2
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
print(f"Você informou os números {num1} e {num2}")

In [ ]:
#3
numero = float(input("Digite um número real: "))
print(f"Você informou o número {numero:.2f}")

In [ ]:
#4
celsius = float(input("Digite a temperatura em graus Celsius: "))
farenheit = celsius * 1.8 + 32
print(f"A temperatura em Fahrenheit é: {farenheit:.2f}")

In [ ]:
#5
inteiro = int(input("Digite um número inteiro: "))
real = float(input("Digite um número real: "))
print(f"Você informou os números {inteiro} e {real:.2f}")

In [ ]:
#6
letra = input("Digite a primeira letra do seu nome: ")
print(f"Você digitou {letra}")

In [ ]:
#7
cor = input("Digite o nome da sua cor preferida: ")
print(f"Você gosta da cor {cor}")

In [ ]:
#8
verdura = input("Digite o nome de uma verdura que você gosta: ")
fruta = input("Digite o nome de uma fruta que você gosta: ")
print(f"Você gosta de {verdura} e {fruta}")

In [ ]:
#9 verdura = input("Digite o nome de uma verdura que você gosta: ")
fruta = input("Digite o nome de uma fruta que você gosta: ")
print(f"Você gosta de {verdura} e {fruta}")

In [ ]:
#10 numero = float(input("Digite um número real: "))
dobro = numero * 2
print(f"Número -> {numero}")
print(f"Dobro deste número -> {dobro}")

In [ ]:
#11 numero = float(input("Digite um número real: "))
dobro = numero * 2
print(f"Número -> {numero}")
print(f"Dobro deste número -> {dobro}")

In [ ]:
#12 numero = float(input("Digite um número real: "))
quadrado = numero ** 2
cubo = numero ** 3
print(f"Número -> {numero}")
print(f"Quadrado -> {quadrado}")
print(f"Cubo -> {cubo}")

In [ ]:
#13 n1 = int(input("Digite o primeiro número inteiro: "))
n2 = int(input("Digite o segundo número inteiro: "))
soma = n1 + n2
print(f"Os números {n1} e {n2} somados correspondem a {soma}")

In [ ]:
14 n1 = float(input("Digite o primeiro número real: "))
n2 = float(input("Digite o segundo número real: "))
produto = n1 * n2
print(f"O produto dos números {n1} e {n2} corresponde a {produto}")

In [ ]:
#15 n1 = float(input("Digite o primeiro número real: "))
n2 = float(input("Digite o segundo número real: "))

soma = n1 + n2
subtracao = n1 - n2
multiplicacao = n1 * n2
divisao = n1 / n2 if n2 != 0 else "Indefinida (divisão por zero)"

print(f"Soma: {soma}")
print(f"Subtração: {subtracao}")
print(f"Multiplicação: {multiplicacao}")
print(f"Divisão: {divisao}")

In [ ]:
#16 salario_fixo = float(input("Digite o salário fixo do vendedor: "))
total_vendas = float(input("Digite o total vendido no mês (R$): "))
percentual_comissao = float(input("Digite o percentual de comissão (%): "))

salario_bruto = salario_fixo + (total_vendas * percentual_comissao / 100)

print(f"O salário bruto é de R$ {salario_bruto:.2f}")

Lista de Exercicios 02

In [ ]:
#1
 numero = float(input("Digite um número real: "))
if numero > 10:
    print("O número informado é maior que 10.")

In [ ]:
#2
 numero = float(input("Digite um número real: "))
if numero >= 10:
    print("O número informado é maior ou igual a 10.")
else:
    print("O número informado é menor que 10.")

In [ ]:
 #3
 numero = float(input("Digite um número real: "))
if numero > 10:
    print("O número é maior que 10.")
elif numero < 10:
    print("O número é menor que 10.")
else:
    print("O número é igual a 10.")

In [ ]:
#4
 numero = float(input("Digite um número real: "))
if numero > 0:
    print("O número é positivo.")
elif numero < 0:
    print("O número é negativo.")
else:
    print("O número é nulo (zero).")

In [ ]:
#5
numero = int(input("Digite um número inteiro: "))
if numero % 3 == 0:
    print("É múltiplo de 3.")
else:
    print("Não é múltiplo de 3.")

In [ ]:
#6
 numero = int(input("Digite um número inteiro: "))
multiplo = int(input("Digite o número para testar se é múltiplo: "))
if numero % multiplo == 0:
    print(f"{numero} é múltiplo de {multiplo}.")
else:
    print(f"{numero} não é múltiplo de {multiplo}.")

In [ ]:
#7
numero = int(input("Digite um número inteiro: "))
if numero % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

In [ ]:
#8
 numero = float(input("Digite um número: "))
if numero > 20:
    print(f"A metade de {numero} é {numero / 2}")
else:
    print(f"O dobro de {numero} é {numero * 2}")

In [ ]:
#9 n1 = int(input("Digite o primeiro número inteiro: "))
n2 = int(input("Digite o segundo número inteiro: "))
soma = n1 + n2

if soma > 10:
    print(f"O quadrado de {soma} é {soma ** 2}")
else:
    print(f"A metade de {soma} é {soma / 2}")

In [ ]:
#10
 nota1 = float(input("Digite a nota da primeira prova: "))
nota2 = float(input("Digite a nota da segunda prova: "))
nota3 = float(input("Digite a nota da terceira prova: "))

media = (nota1 * 2 + nota2 * 3 + nota3 * 5) / 10

print(f"Média final: {media:.2f}")

if media >= 6.0:
    print("Aluno aprovado!")
else:
    print("Aluno reprovado.")

In [ ]:
#11
 nome1 = input("Digite o nome da primeira pessoa: ")
peso1 = float(input("Digite o peso de " + nome1 + ": "))

nome2 = input("Digite o nome da segunda pessoa: ")
peso2 = float(input("Digite o peso de " + nome2 + ": "))

if peso1 > peso2:
    print(f"{nome1} é mais pesado(a).")
elif peso2 > peso1:
    print(f"{nome2} é mais pesado(a).")
else:
    print("Ambas as pessoas têm o mesmo peso.")

In [ ]:
#12
numero = float(input("Digite um número: "))
if 20 <= numero <= 90:
    print("O número está entre 20 e 90.")
else:
    print("O número NÃO está entre 20 e 90.")

In [ ]:
#13
 n1 = float(input("Digite o primeiro número: "))
n2 = float(input("Digite o segundo número: "))

if n1 > n2:
    print(f"{n1} é maior que {n2}")
elif n2 > n1:
    print(f"{n2} é maior que {n1}")
else:
    print("Os números são iguais.")

In [ ]:
#14
 media_aprovacao = float(input("Digite a média necessária para aprovação: "))
nome = input("Digite o nome do aluno: ")
sexo = input("Digite o sexo (M/F): ")

nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))

media = (nota1 + nota2 + nota3) / 3

if media >= media_aprovacao:
    if sexo.upper() == 'M':
        print(f"O aluno {nome} foi aprovado com média {media:.2f}")
    else:
        print(f"A aluna {nome} foi aprovada com média {media:.2f}")
else:
    if sexo.upper() == 'M':
        print(f"O aluno {nome} foi reprovado com média {media:.2f}")
    else:
        print(f"A aluna {nome} foi reprovada com média {media:.2f}")

Lista de Exercicios 03

In [ ]:
#1
for i in range(10):
    print("Hello World!", end=" ")

In [ ]:
#2
for i in range(10):
    print("Hello World!")

In [ ]:
#3
for i in range(1, 101):
    print(i)

In [ ]:
#4
for i in range(1, 101):
    print(f"{i} - Hello World!")

In [ ]:
#5
for i in range(100, -1, -1):
    print(i)

In [ ]:
#6
for i in range(2, 1001, 2):
    print(i)

In [ ]:
#7
for i in range(999, -1, -2):
    print(i)

In [ ]:
#8
soma = 0
for i in range(1, 101):
    soma += i
print(f"A soma dos 100 primeiros números inteiros positivos é {soma}")

In [ ]:
#9
vezes = int(input("Digite a quantidade de vezes que deseja imprimir 'Hello World!': "))
for i in range(vezes):
    print("Hello World!")

In [ ]:
#10
palavra = input("Digite uma palavra: ")
vezes = int(input("Digite a quantidade de vezes que deseja imprimir a palavra: "))

for i in range(vezes):
    print(palavra)

In [ ]:
#11
n = int(input("Quantos números deseja informar? "))
soma = 0

for i in range(n):
    num = float(input(f"Digite o {i+1}º número: "))
    soma += num

media = soma / n
print(f"Soma = {soma}")
print(f"Média = {media}")

In [ ]:
#12
n = int(input("Quantas pessoas deseja cadastrar? "))

mais_velho = ""
idade_mais_velho = -1

for i in range(n):
    nome = input(f"Digite o nome da {i+1}ª pessoa: ")
    idade = int(input(f"Digite a idade de {nome}: "))

    if idade > idade_mais_velho:
        idade_mais_velho = idade
        mais_velho = nome

print(f"A pessoa mais velha é {mais_velho}, com {idade_mais_velho} anos.")

In [ ]:
#13
n = int(input("Quantas pessoas deseja cadastrar? "))

soma_m = soma_f = 0
cont_m = cont_f = 0

for i in range(n):
    sexo = input(f"Digite o sexo da {i+1}ª pessoa (M/F): ").upper()
    idade = int(input("Digite a idade: "))

    if sexo == "M":
        soma_m += idade
        cont_m += 1
    elif sexo == "F":
        soma_f += idade
        cont_f += 1

media_m = soma_m / cont_m if cont_m > 0 else 0
media_f = soma_f / cont_f if cont_f > 0 else 0

print(f"Média de idade dos homens: {media_m:.2f}")
print(f"Média de idade das mulheres: {media_f:.2f}")

In [ ]:
#14
maior = float('-inf')
menor = float('inf')

for i in range(10):
    num = float(input(f"Digite o {i+1}º número: "))
    if num > maior:
        maior = num
    if num < menor:
        menor = num

print(f"O maior número informado foi {maior}")
print(f"O menor número informado foi {menor}")

In [ ]:
#15
numeros = []

while True:
    num = float(input("Digite um número (ou 0 para encerrar): "))
    if num == 0:
        break
    numeros.append(num)

numeros.sort()
print("Números em ordem crescente:", numeros)

In [ ]:
#16
 idades = []

while True:
    idade = int(input("Digite a idade do aluno: "))
    idades.append(idade)
    continuar = input("Deseja informar a idade do próximo aluno? (S/N): ").upper()
    if continuar != "S":
        break

mais_novo = min(idades)
mais_velho = max(idades)
maiores_18 = len([i for i in idades if i > 18])
menores_ou_18 = len([i for i in idades if i <= 18])
media = sum(idades) / len(idades)

idades.sort()
n = len(idades)
if n % 2 == 1:
    mediana = idades[n // 2]
else:
    mediana = (idades[n // 2 - 1] + idades[n // 2]) / 2

print(f"\nIdade do mais novo: {mais_novo}")
print(f"Idade do mais velho: {mais_velho}")
print(f"Alunos com mais de 18 anos: {maiores_18}")
print(f"Alunos com até 18 anos: {menores_ou_18}")
print(f"Média das idades: {media:.2f}")
print(f"Mediana das idades: {mediana}")

Nome: Matheus matias da silva

Turma: N2

aplicaçoes com listas, tuplas e dicionarios

In [4]:
alunos_db = [
    {"matricula": "2023001", "nome": "lucas", "curso": "Engenharia de softwere"},
    {"matricula": "2023002", "nome": "damaseno", "curso": "medicina"},
    {"matricula": "2023003", "nome": "silva", "curso": "direito"}
]
print("1. Sistema Simplificado de Cadastro de Alunos")
print ("_" * 40)
#1 .  Adicionar novo aluno
print ("_> Adicionar novo aluno...")
novo_aluno = {"matricula": "2023004", "nome": "ana", "curso": "Ciência da Computação"}
alunos_db.append(novo_aluno)
print(f"Aluno {novo_aluno['nome']} adicionado com sucesso")

matricula_busca = "2023002"
aluno_encontrado = next((aluno for aluno in alunos_db if aluno["matricula"] == matricula_busca), None)
if aluno_encontrado:
    print(f"\nAluno encontrado com matrícula: {matricula_busca}")
    #acessa os valores do dicionario usando suas chaves
    print(f"Nome: {aluno_encontrado['nome']}")
    print(f"Curso: {aluno_encontrado['curso']}")
else:
    print(f"\nAluno com matrícula {matricula_busca} não encontrado.")

#3. Atualizar informação do curso (update)
matricula_update = "2023003"
for aluno in alunos_db:
    if aluno["matricula"] == matricula_update:
        novo_curso = "Engenharia de Software"
        aluno["curso"] = novo_curso
        print(f"Curso do aluno {aluno['nome']} atualizado para {novo_curso}")
        break # Sai do loop após encontrar e atualizar o aluno
else:
    print(f"\nAluno com matrícula {matricula_update} não encontrado para atualização.")

print("\n--- Base de Alunos Atualizada ---")
for aluno in alunos_db:
    print(aluno)

1. Sistema Simplificado de Cadastro de Alunos
________________________________________
_> Adicionar novo aluno...
Aluno ana adicionado com sucesso

Aluno encontrado com matrícula: 2023002
Nome: damaseno
Curso: medicina
Curso do aluno silva atualizado para Engenharia de Software

--- Base de Alunos Atualizada ---
{'matricula': '2023001', 'nome': 'lucas', 'curso': 'Engenharia de softwere'}
{'matricula': '2023002', 'nome': 'damaseno', 'curso': 'medicina'}
{'matricula': '2023003', 'nome': 'silva', 'curso': 'Engenharia de Software'}
{'matricula': '2023004', 'nome': 'ana', 'curso': 'Ciência da Computação'}